<div class="container">
    <!-- agregamos un local reference(#f), que va hacer referencia al ngForm -->
    <form (ngSubmit)="f.form.valid && onGuardarPersona()" #f="ngForm">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput" required />
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput" required />
        <button type="submit" class="btn btn-primary">Añadir</button>
        <button *ngIf="indexRecibidoUrl != null" (click)="eliminarPersona()" type="submit"
            class="btn btn-danger">Eliminar</button>
    </form>
</div>