<div class="text-center">
    <button (click)="agregar()" class="btn btn-primary">+</button>
</div>


<div class="border">
    <h2>Lista</h2>



    <!-- <app-formulario> </app-formulario> -->
    <!-- cambiamos la etiqueta, ahora se encarga el router-outler, ya que los hemos cambiado, ahora son componentes hijos  -->
    <router-outlet> </router-outlet>

    <app-persona *ngFor="let personaElemento of personas; let i = index" [persona]="personaElemento" [indice]="i">
    </app-persona>



</div>